@use "./assets/style/_variables.scss" as *;
@use "./assets/style/_media.scss" as *;

@function toRem($value) {
  $remValue: calc($value / 16) + rem;
  @return $remValue;
}

@mixin transition($style: all) {
  transition: $style .25s ease-in-out;
}

@mixin flex($align: center, $justify: flex-start) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: column;

  @include breakpoints(medium) {
    flex-direction: row;
  }
}

@mixin font($size, $line, $weight: 400, $color: $black) {
  font-size: toRem($size);
  line-height: toRem($line);
  font-weight: $weight;
  color: $color;
}

@mixin link($color: $black) {
  @include transition;
  cursor: pointer;

  &:hover, &--active {
    color: $color;
    text-decoration: line-through;
  }
}

%hide {
  opacity: 0;
  visibility: hidden;
  @include transition;
}

%show {
  opacity: 1;
  visibility: visible;
}

%title {
  @include font(28, 38, 800);

  @include breakpoints(medium) {
		@include font(34, 46, 800);
	}
}

%button {
  padding: 10px 50px;
  border-radius: 2px;
  @include transition;
  @include font(18, 26, 400, $white);
}

%fields {
  padding: 0 16px;

  @include breakpoints(large) {
    padding: 0;
  }
}

%imgCustomRadius {
  border-radius: 2px 110px 2px 2px;

  @include breakpoints(large) {
    border-radius: 2px 220px 2px 2px;
  }
}

