@use "./assets/style/_variables.scss" as *;

* {
  box-sizing: border-box;
}

html, body, ul, ol {
  margin:  0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $black;
  height: 100%;
}

ul, ol {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

input, textarea, button {

  &:focus {
    outline: none;
  }
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}